EXPO_PUBLIC_POP_API_ORIGIN=http://localhost:8080
EXPO_PUBLIC_POP_ENV_LABEL=DEV
EXPO_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
EXPO_PUBLIC_APPLE_OAUTH_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_OAUTH_CLIENT_ID=
EXPO_PUBLIC_INSTAGRAM_OAUTH_CLIENT_ID=
