<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739997967500-0136m9pcceioi0q6ush52eadkf3ccpr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739997967500-0136m9pcceioi0q6ush52eadkf3ccpr5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739997967500-5ba5vqf7i6j4364e9q22nsekcb62glh6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtx_LGLPua4S7uYmIW-qXqJdddS5VCSx0</string>
	<key>GCM_SENDER_ID</key>
	<string>739997967500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsi.pop</string>
	<key>PROJECT_ID</key>
	<string>popapp-806d5</string>
	<key>STORAGE_BUCKET</key>
	<string>popapp-806d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739997967500:ios:820c84ae67382d2e92c7a9</string>
</dict>
</plist>